@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body.mrbluesky
{
    background: teal;
}
.pixel
{
    font-family: 'VT323';
    color: white;
}
.pixel-head
{
    font-family: 'VT323';
    color: white;
}

.col {
    padding: 10px;
}

.container-term{
    border-color: slategray;
    border-width: 2px;
    border-style: solid;
    border-top-width: 0px;
    background: rgba(0, 0, 0, 0.6);
}

.menu-bar{
    background: slategray;
    border-width: 2px;
    border-bottom-width: 1px;
    border-color: slategray;
}

.prompt {
    color: cyan;
}

.highlight {
    color: lime;
    font-weight: normal;
}

.highlight:hover {
    color: limegreen;
    font-weight: normal;
}

dl {
    margin:0;
}

dd {
    margin:0;
    line-height: normal;
}

p{
    line-height: normal;
}

html {
    font-size: 1.1rem;
    line-height: normal;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}